body {
    background-color: rgb(236, 236, 236) !important;
}

.allLink {
    text-decoration: none;
}
.join-class {
    background-color: #fff;
    height: 50px;
  
   
}

.no-class {
    background-color: #fff;
    height: 50px;
    
  
}

/* custom responsive */
@media(max-width: 1008px){
    .custom-btn{
        margin-top: 10px;
    }
    .btn-div{
        padding: 0px !important;
    }